<a href="https://colab.research.google.com/github/johndaguio/CPEN-21A-CPE-1-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Introduction to Python Programming

In [3]:
b= "Sally"
print(type(b))

<class 'str'>

#Naming Variables

In [5]:
a = 'Sally'
A = "John"

In [7]:
print(a)
print(A)

Sally
John

In [8]:
a, b, c = 0, 1, 2
print(type(a))         #This is a program using type function
print(b)
print(c)

<class 'int'>
1
2

In [9]:
a = 4.50
print(type(a))

<class 'float'>

##One Value to Multiple Variables

In [10]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [11]:
x = "enjoying"
print("Python programming is" + " " + x)

Python programming is enjoying

In [12]:
x = 4
y = 5 
print(x+y)
print(x-y)

9
-1

In [13]:
not(x>y or x == x)      #This is an example of program using logical operator

False